/* Common Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h2 {
    text-align: center;
}

.error {
    color: red;
}

.success {
    color: green;
}

input[type="submit"],
button[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover,
button[type="submit"]:hover {
    background-color: #45a049;
}

/* Base Page Styles */
.container {
    margin: 20px auto;
    max-width: 1200px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f1f1f1;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    margin-left: 10px;
}

nav li a {
    text-decoration: none;
    color: #333;
    padding: 10px;
    border-radius: 5px;
}

nav li a:hover {
    background-color: #4CAF50;
    color: white;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav li {
        margin-left: 0;
        margin-bottom: 5px;
    }

    .container {
        padding: 10px;
    }
}

/* Login and Register Driver Page */
.container.login-register-container,
.container.register-driver-container {
    max-width: 400px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="integer"],
.form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Edit Driver Page */
.container.edit-driver-container {
    padding: 20px;
}

/* Admin Page */
.container.admin-container {
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Management Page */
.container.management-container {
    padding: 20px;
}

/* Edit Roster Page */
.container.edit-roster-container {
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Organizations Page */
.container.organizations-container {
    padding: 20px;
}

/* Data Report Page */
.container.data-report-container {
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Vehicles Page */
.container.vehicles-container {
    padding: 20px;
}

/* Styled Table */
.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #009879;
    color: #fff;
    text-align: center;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

/* Home Page */
.container.home-container {
    text-align: center;
    margin-top: 20px;
}

.home-container h1 {
    color: #333;
    font-size: 30px;
    margin-bottom: 20px;
}

.home-container p {
    margin-bottom: 10px;
}

.home-container a {
    color: black;
    text-decoration: none;
}

.home-container a:hover {
    text-decoration: underline;
}

.button {
    position: relative;
    width: 200px;
    height: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border: 1px solid #34974d;
    background-color: #3aa856;
}

.button, .button__icon, .button__text {
    transition: all 0.3s;
}

.button .button__text {
    transform: translateX(30px);
    color: #fff;
    font-weight: 600;
}

.button .button__icon {
    position: absolute;
    transform: translateX(109px);
    height: 100%;
    width: 39px;
    background-color: #34974d;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button .svg {
    width: 30px;
    stroke: #fff;
}

.button:hover {
    background: #34974d;
}

.button:hover .button__text {
    color: transparent;
}

.button:hover .button__icon {
    width: 148px;
    transform: translateX(0);
}

.button:active .button__icon {
    background-color: #2e8644;
}

.button:active {
    border: 1px solid #2e8644;
}
