<!DOCTYPE html>
<html>
<head>
    <title>Data Report</title>
</head>
<body>
    <h1>Data Report</h1>

    <form method="POST">
        <label for="keyword">Keyword:</label>
        <input type="text" id="keyword" name="keyword">
        <input type="submit" value="Search">
    </form>
    
    <table>
        <tr>
            <th>Name</th>
            <th>Gender</th>
            <th>Mobile Number</th>
            <th>License</th>
            <th>National ID</th>
            <th>License Plate Number</th>
            <th>Organization</th>
            <th>Vehicle Classification</th>
            <th>Vehicle Model</th>
            <th>Route Number</th>
            <th>ID</th>
        </tr>
        {% for row in data %}
            <tr>
                {% for value in row %}
                    <td>{{ value }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
    
</body>
</html>
