{% extends 'base.html' %}

{% block content %}
    <style>
        /* Add your CSS styles here */
        h1 {
            color: #333;
            font-size: 30px;
            margin-bottom: 20px;
        }

        p {
            margin-bottom: 10px;
        }

        a {
            color: black;
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }
        .button {
            position: relative;
            width: 200px;
            height: 40px;
            cursor: pointer;
            display: flex;
            align-items: center;
            border: 1px solid #34974d;
            background-color: #3aa856;
        }
        
        .button, .button__icon, .button__text {
            transition: all 0.3s;
        }
        
        .button .button__text {
            transform: translateX(30px);
            color: #fff;
            font-weight: 600;
        }
        
        .button .button__icon {
            position: absolute;
            transform: translateX(109px);
            height: 100%;
            width: 39px;
            background-color: #34974d;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        
        .button .svg {
            width: 30px;
            stroke: #fff;
        }
        
        .button:hover {
            background: #34974d;
        }
        
        .button:hover .button__text {
            color: transparent;
        }
        
        .button:hover .button__icon {
            width: 148px;
            transform: translateX(0);
        }
        
        .button:active .button__icon {
            background-color: #2e8644;
        }
        
        .button:active {
            border: 1px solid #2e8644;
        }
    </style>

    <h1>Driver Registration Platform</h1>
    <p>Welcome to the Driver Registration Platform for public service vehicle drivers operating within Nairobi CBD. This platform allows admin to register their information and facilitates administrative tasks.</p>
    <p>Register as a driver to get started!</p>
    <button type="button" class="button">
        <span class="button__text"><p><a href="/register_driver">Register Driver</a></p></span>
    </button>
{% endblock %}
