<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Driver Management</title>
<link rel="stylesheet" type="text/css" href="static/css/style.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/register">Register Driver</a></li>
                <li><a href="/admin">Driver Details</a></li>
                <li><a href="/organizations">Register Organization</a></li>
                <li><a href="/vehicles">Register Organizations Vehicle</a></li>
                <li><a href="/data-report">Driver Report</a></li>
            </ul>
        </nav>
    </header>
    <h1>Driver Management Dashboard</h1>
    <h2>Schedule Driver:</h2>
    <form method="POST">
      <label for="name">Driver Name:</label>
      <input type="text" id="name" name="name" value="{{ driver_name }}" readonly>
      <br><br>
    
      <label for="clock_in">Clock-in Time:</label>
      <input type="datetime-local" id="clock_in" name="clock_in">
      <br><br>
    
      <label for="clock_out">Clock-out Time:</label>
      <input type="datetime-local" id="clock_out" name="clock_out">
      <br><br>
    
      <label for="pickup_point">Pickup Point:</label>
      <select id="pickup_point" name="pickup_point">
        {% for point in pickup_points %}
          <option value="{{ point[0] }}">{{ point[0] }}</option>
        {% endfor %}
      </select>
      <br><br>
    
      <label for="destination">Destination:</label>
      <select id="destination" name="destination">
        {% for destination in destinations %}
          <option value="{{ destination[0] }}">{{ destination[0] }}</option>
        {% endfor %}
      </select>
      <br><br>
    
      <label for="suspend">Suspend Driver:</label>
      <input type="checkbox" id="suspend" name="suspend">
      <br><br>
      
      <div id="suspension_reason" style="display: none;">
        <label for="reason">Suspension Reason:</label>
        <input type="text" id="reason" name="reason">
        <br><br>
      </div>      
    
      <input type="submit" value="Schedule Driver">
    </form>
    <script>
        // Add event listener to the suspend checkbox
        document.getElementById('suspend').addEventListener('change', function() {
          var suspensionReason = document.getElementById('suspension_reason');
          if (this.checked) {
            suspensionReason.style.display = 'block';
          } else {
            suspensionReason.style.display = 'none';
          }
        });
    </script>
</body>
</html>