<!DOCTYPE html>
<html>
<head>
    <title>Organization Registration</title>
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/register">Register Driver</a></li>
                <li><a href="/admin">Driver Details</a></li>
                <li><a href="/organizations">Register Organization</a></li>
                <li><a href="/vehicles">Register Organizations Vehicle</a></li>
                <li><a href="/data-report">Driver Report</a></li>
            </ul>
        </nav>
    </header>
    <div class="form-group">
    <form action="/organizations" method="POST">
        <!-- Form fields -->
        <label for="org_name">Organization Name:</label>
        <input type="text" name="org_name" placeholder="Organization Name" required>               
        <!-- Submit button -->
        <button type="submit">Submit</button>
    </form>
    </div>
</body>
</html>